// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Color scheme (Les Blouses Roses):

$lbr-rose: #E5007D;

$lbr-rose_pale: #FDE8F3;
$lbr-orange: #F19F38;
$lbr-creme: #FFF8F5;
$lbr-mauve: #1FAD9F;
$lbr-violet: #A52B84;
$lbr-success: #1AAB6D;
$lbr-success_pale: #E6F9F2;
$lbr-error: #E53E3E;
$lbr-error2: #FFF0F0;
$lbr-text: #2D1B2E;
$lbr-text2: #9B7FA0;
$lbr-bleu: #534AB7;
$lbr-bleu-clair: #DDDBF1;
