.page-layout {
  min-height: 100vh;
  background-color: #FFF8F5;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
}

.participations-tabs {
  background-color: white;
  border-radius: 50rem;
  border-color: $pink;

  .nav-link.active {
    background-color: $pink;
    color: white;
  }

  .nav-link.disabled {
    color: rgb(110, 67, 110);
  }
}
